<template >
  
    <v-container v-if="loading">
      <div class="text-xs-center">
        <v-progress-circular indeterminate :size="150" :width="8" color="green"></v-progress-circular>
      </div>
    </v-container>

    <v-container v-else grid-list-xl>
      <v-layout wrap>
        <v-flex xs1 v-for="item in results" :key="item.id" mb-2>
          <v-card data-app >
            <v-img @click="dialoghandler(item)" 
              :src="`https://img.123video.xyz/display?w=100&h=100&path=${item.id}&op=thumbnail`"
              aspect-ratio="1"
            >{{item.age}}</v-img>

            <v-card-actions>
              <v-btn small class="red" @click="deleteImg(item.id)">Delete</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>

        <v-dialog v-model="dialog" width="500">
          <v-card>
            <v-card-title class="headline grey lighten-2">{{selecteditem.id}}</v-card-title>

            <v-img :src="`https://apiv0.123video.xyz/orgimg/${selecteditem.id}`"></v-img>

            <v-card-text>AGE:{{selecteditem.age}} ?</v-card-text>

            <v-divider></v-divider>

            <v-form>
              <v-text-field v-model="newage">NewAge</v-text-field>
            </v-form>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="error" text @click="closedialog()">I accept</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-snackbar v-model="snackbar">{{selecteditem.id}} on {{newage}}</v-snackbar>
      </v-layout>
    </v-container>

</template>

<script>
import axios from "axios";
export default {
  name: "HelloWorld",

  data: () => ({
    results: [],
    reststatus: {},
    loading: true,
    dialog: false,
    selecteditem: {},
    newage: null,
    snackbar: false,
  }),
  mounted() {
    // console.log(process.env.VUE_APP_RESTSERVER)
    var postData = {};

    let axiosConfig = {
      headers: {
        "Content-Type": "application/json;charset=UTF-8",
        "X-QUANT": "1000",
      },
    };

    axios
      .post(
        process.env.VUE_APP_RESTSERVER + "/v0/getimages",
        postData,
        axiosConfig
      )
      .then((res) => ((this.results = res.data), (this.loading = false)))

      .catch((err) => {
        console.log("AXIOS ERROR: ", err);
      });
  },
  methods: {
    dialoghandler(item) {
      this.dialog = true;
      this.newage = null;

      this.selecteditem = item;
    },
    closedialog() {
      this.dialog = false;

      if (this.newage !== null && this.newage !== "") {
        if (parseInt(this.newage, 10) !== this.selecteditem.age) {
          this.changeAge(this.selecteditem.id, parseInt(this.newage, 10));
        }
      }
    },
    changeAge(id, newage) {
      console.log(id, newage);

      this.snackbar = true;

      var postData = { imgid: id, newage: newage };

      let axiosConfig = {
        headers: {
          "Content-Type": "application/json;charset=UTF-8",
        },
      };
      axios
        .post(
          process.env.VUE_APP_RESTSERVER + "/v0/changeage",
          postData,
          axiosConfig
        )
        .then(
          (res) => (this.reststatus = res.data),
          this.updateLocalImg(id, newage)
        )

        .catch((err) => {
          console.log("AXIOS ERROR: ", err);
        });
    },

    deleteImg(id) {
      var postData = { imgid: id };

      let axiosConfig = {
        headers: {
          "Content-Type": "application/json;charset=UTF-8",
        },
      };
      axios
        .post(
          process.env.VUE_APP_RESTSERVER + "/v0/delete",
          postData,
          axiosConfig
        )
        .then((res) => (this.reststatus = res.data), this.deleteLocalImg(id))

        .catch((err) => {
          console.log("AXIOS ERROR: ", err);
        });
    },
    deleteLocalImg(id) {
      for (var i = 0; i < this.results.length; i++) {
        if (this.results[i].id === id) {
          this.results.splice(i, 1);
          i--;
        }
      }
    },
    updateLocalImg(id, newage) {
      for (var i = 0; i < this.results.length; i++) {
        if (this.results[i].id === id) {
          this.results[i].age = newage;
        }
      }
    },
  },
};
</script>
