<template>
  <v-container>
    <v-row>
      <v-form>
        <v-text-field v-model="login" :counter="10" label="LOGIN:" required></v-text-field>

        <v-btn color="success" class="mr-4" @click="submitForm()">Validate</v-btn>
      </v-form>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Password",
  data() {
    return {
      login: "",
      auth: false,
    };
  },
  mounted() {
    this.$store.dispatch("loginauth", process.env.VUE_APP_PASS);
    if (this.$store.state.auth) {
      this.$router.push("/imgs");
    }

    console.log(this.$store.state.auth);
  },

  methods: {
    submitForm() {
      this.$store.dispatch("loginauth", this.login);

      console.log("but", this.$store.state.auth);

      if (this.$store.state.auth) {
        this.$router.push("/imgs");
      }
    },
  },
};
</script>
<style scoped>
.box-card {
  width: 380px;
  margin-left: 250px;
}
</style>